*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-bar {
    width: 30em;
    border-radius: 5em 0 0 5em;
}

.search-icon {
    border-radius: 0 5em 5em 0;
    /* border-color: #f2f4f6; */
}

/* video-area */

.single-video-container {
    width: 25em;
    height: 20em;
}

.thumbnail {
    width: inherit;
    height: 15em;
}

.video-logo {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: blueviolet;
}

p{
    margin-bottom: 0 !important;
}

.thumbnail img{
    width: inherit;
    height: inherit;
}

.title p{
    line-height: 1.2em;
}

/* videoplayer */

.video{
    width: 68vw;
    height: 70vh;
}

.suggestion-video{
    width: 28vw;
    height: auto;
}

.suggestion-video-box{
    margin-bottom: 1em;
}

.comment-section{
    width: 70vw;
    height: 70vh;
    background: rgb(215, 237, 250);
}

.video-area{
    width: 12.5em;
    height: 7.5em;
}

.video-title{
    width: 12em;
    height: 5em;
    font-weight: 600;
}

.video-channel{
    width: 12em;
    height: 3em;
    font-size: 14px;
}

.video-area img{
    width: 100%;
    height: 100%;
}